
:root {

	--bg-0: #ffffff;
	--bg-1: #F9F9F9;
	--bg-2: #F1F1F1;
	--bg-dark: var(--bg-2);

	--text: #333;
	--text-secondary: #4c4c4c;
	--text-tertiary: #727272;

	--anchor: #3a71d6;

	--border: rgba(0, 0, 0, 0.2);
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--bg-0: black;
		--bg-1: #191919;
		--bg-2: #222;
		--bg-dark: var(--bg-0);

		--text: #fcfcfc;
		--text-secondary: #a7a7a7;
		--text-tertiary: #c8c8c8;

		--border: rgba(255, 255, 255, 0.2);
	}
}

html, body {
	min-height: 100vh;
}

body {
	margin: 0;
	background: var(--bg-2);
	color: var(--text-secondary);
	font-family: Poppins, Arial, Helvetica, sans-serif;
}


/* Layout stuff */
body {
	display: flex;
    justify-content: center;
	flex-direction: column;
	word-break: break-word;
}
.content-wrapper {
	flex: 1;
}

/* Hero */
.bg {
	width: 100%;
	height: 380px;
	background: url(/banner.jpg);
	background-size: cover;
	background-position: center;
}

nav {
	width: 100%;
	padding: 20px 0;
	background: var(--bg-1);
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}
nav a {
	margin: 0 20px;
	color: inherit;
	text-decoration: none;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
nav a svg {
	width: 1.2rem;
	height: 1.2rem;
	display: inline-block;
	margin-right: 10px;
}
nav a:hover {
	text-decoration: underline;
}
nav a.current {
	font-weight: 700;
}

/* Layout */
.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrapper > .content {
	width: calc(100% - 40px);
	max-width: 800px;
	margin: 40px 0;
}
.wrapper > .content.extra-wide {
	max-width: 1000px;
}

.layout {
	display: grid;
	grid-template-columns: 1fr 200px;
	grid-gap: 20px;
}

.content-core .youtube-video {
	width: 100%;
	height: 300px;
}
.content-core iframe {
	width: 100%;
	height: 100%;
}

/* Profile */
.profile {
	display: grid;
	grid-template-columns: 100px 1fr;
	grid-gap: 20px;
}
.profile .peach-icon {
	width: 100%;
	border-radius: 4px;
}
.profile .about-text {
	margin-bottom: 0;
}
.profile .social {
	margin-top: 20px;
}


/* Badges */
.badge {
	display: inline-grid;
	grid-template-columns: 24px auto;
	grid-gap: 10px;
	padding: 4px 20px;
	background: var(--bg-2);
	border-radius: 100px;
	text-decoration: none;
}
.badge svg {
	width: 100%;
	height: 24px;
}
.badge {
	margin-right: 10px;
}
.badge span {
	display: flex;
	align-items: center;
}

.badge:hover {
	opacity: 0.8;
}
.badge.youtube {
	background: #D72523;
	color: white;
}
.badge.twitter {
	background: #63A9DD;
	color: white;
}
.badge.twitter svg {
	transform: scale(1.3);
}
.badge.discord {
	background: #5E79B6;
	color: white;
}

/* Grid layout for cards */
.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-gap: 20px;
}
.card {
	padding: 20px 10px;
	background: var(--bg-1);
	border: 1px solid var(--border);
	border-radius: 4px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}
.card > * {
	width: 100%;
}
.card .title {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.card .one-click {
	box-sizing: border-box;
	width: 100%;
	border: 1px solid var(--border);
	border-radius: 4px;
	padding: 3px 10px;
	height: 100px;
	resize: none;
	margin-bottom: 15px;
	font-family: Arial;
	font-size: 1rem;
	word-break: break-all;
	background: var(--bg-0);
	color: var(--text-tertiary);
}

.read-more {
	color: var(--anchor);
	text-decoration: none;
	cursor: pointer;
}
.read-more:hover {
	text-decoration: underline;
}
.card .pack-icon {
	width: 2rem;
	height: 2rem;
	border-radius: 4px;
	margin-right: 10px;
}

/* skeleton elements */
.skeleton, .youtube-video, .card a.read-more.skeleton, .skeleton.title {
	background: var(--border);
	color: transparent;
}

/* Downloads */
.download-button {
	display: block;
	width: 100%;
	box-sizing: border-box;
	font-size: 1rem;
	padding: 10px 16px;
	border: 1px solid var(--border);
	background: transparent;
	transition: background 150ms;
	cursor: pointer;
	text-align: center;
	color: inherit;
	text-decoration: none;
}
.download-button:hover {
	background: var(--border);
}
.download-button + .download-button {
	margin-top: 10px;
}

/* Core datapack content */
ul li {
	margin-top: 15px;
}

/* Resource packs */
.resource-previews {
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 10px;
}
.resource-previews img {
	display: block;
	width: 100%;
	background: var(--border);
}

/* Resource pack blocks */
.blocks {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	grid-gap: 10px;
}
.block img {
	width: 100%;
	display: block;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
    -ms-interpolation-mode: bicubic;
}
.block.door {
	grid-row: span 2;
}

/* Tools */
/* Skin viewer */
form > div input[type="text"], form .card, .results, .input-div input[type="text"] {
	box-sizing: border-box;
	width: 100%;
	padding: 8px 20px;
	font-size: 1em;
	border: 1px solid var(--border);
	background: var(--bg-1);
	color: var(--text);
	border-radius: 4px;
}
.nowrap-div {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.nowrap-div > * + * {
	margin-left: 20px;
}

.input-div input[type="button"] {
	padding: 8px 16px;
	background: var(--bg-1);
	color: var(--text);
	border: 1px solid var(--border);
	height: 100%;
	font-size: 1em;
	border-radius: 4px;
}
.input-div input[readonly] {
	background: var(--bg-dark);
}

form .options {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 10px;
}
form > * {
	margin: 20px 0;
}

.results {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.results img {
	max-width: 100%;
	margin: 2px;
}

/* Util */
.hidden {
	display: none;
}
.section + .section {
	margin-top: 40px;
}
.title {
	margin-top: 0;
	color: var(--text);
}
.sub-title {
	margin-top: 40px;
	margin-bottom: 20px;
}

/* Footer */
footer {
	width: 100%;
	height: 100%;
	margin-top: 80px;
	background: var(--bg-0);
	padding: 10px 0;
	border-bottom: env(safe-area-inset-bottom) solid transparent;
	text-align: center;
	border-top: 1px solid var(--border);
}
footer p {
	margin: 0;
}

/* Responsiveness */
@media screen and (max-width: 700px) {
	.cards, .layout, .profile {
		grid-template-columns: 100%;
	}
	.profile .peach-icon {
		width: 100px;
	}
	.card.large-card {
		padding: 20px;
	}
	.badge {
		box-sizing: border-box;
		border-radius: 4px;
		padding: 10px;
		margin-bottom: 10px;
		width: 100%;
	}

	/* Nav */
	nav {
		flex-wrap: wrap;
	}
	nav a {
		width: 100%;
		margin: 0 auto;
		width: calc(100% - 40px);
	}
	nav a:not(.hamburger) {
		padding: 10px 0;
	}
	nav a.hamburger {
		cursor: pointer;
	}
	.showMobileNav a.hamburger {
		padding-bottom: 10px;
	}
	nav:not(.showMobileNav) a:not(.hamburger) {
		display: none;
	}


}

@media screen and (min-width: 701px) {
	.card.large-card {
		padding: 30px;
	}
	nav a.hamburger {
		display: none;
	}
}