
:root {

	--bg-1: #F9F9F9;
	--bg-2: #F1F1F1;

	--text: #333;
	--text-secondary: #4c4c4c;

	--anchor: #3a71d6;

	--border: rgba(0, 0, 0, 0.2);
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--bg-1: #191919;
		--bg-2: #222;

		--text: #fcfcfc;
		--text-secondary: #a7a7a7;

		--border: rgba(255, 255, 255, 0.2);
	}
}

body {
	margin: 0;
	margin-bottom: 80px;
	background: var(--bg-2);
	color: var(--text-secondary);
	font-family: Poppins, Arial, Helvetica, sans-serif;
}

/* Hero */
.bg {
	width: 100%;
	height: 380px;
	background: url(https://yt3.ggpht.com/p6gshfJXt4CUjdRvQRBrVrULHKELMxy5mwWQkLcBN6HiLoVCkaXBjF8_dheky2JjYbzDBmYnNg=w1707-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj);
	background-size: cover;
	background-position: center;
}

nav {
	width: 100%;
	padding: 20px 0;
	background: var(--bg-1);
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}
nav a {
	margin: 0 20px;
	color: inherit;
	text-decoration: none;
}
nav a:hover {
	text-decoration: underline;
}
nav a.current {
	font-weight: 700;
}

/* Layout */
.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrapper > .content {
	width: calc(100% - 40px);
	max-width: 800px;
	margin: 40px 0;
}
.wrapper > .content.extra-wide {
	max-width: 1000px;
}

.layout {
	display: grid;
	grid-template-columns: 1fr 200px;
	grid-gap: 20px;
}

.content-core .youtube-video {
	width: 100%;
	height: 300px;
}
.content-core iframe {
	width: 100%;
	height: 100%;
}

/* Utilities */
.title {
	margin-top: 0;
	color: var(--text);
}

/* Profile */
.profile {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 20px;
}
.profile .peach-icon {
	width: 100%;
	border-radius: 4px;
}
.profile .about-text {
	margin-bottom: 0;
}
.profile .social {
	margin-top: 20px;
}


/* Badges */
.badge {
	display: inline-grid;
	grid-template-columns: 24px auto;
	grid-gap: 10px;
	padding: 4px 20px;
	background: var(--bg-2);
	border-radius: 100px;
	text-decoration: none;
}
.badge svg {
	width: 100%;
	height: 100%;
}
.badge {
	margin-right: 10px;
}

.badge.youtube {
	background: #D72523;
	color: white;
}
.badge.twitter {
	background: #63A9DD;
	color: white;
}
.badge.twitter svg {
	transform: scale(1.3);
}
.badge.discord {
	background: #5E79B6;
	color: white;
}


/* Grid layout for cards */
.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-gap: 20px;
}
.card {
	padding: 20px 10px;
	background: var(--bg-1);
	border: 1px solid var(--border);
	border-radius: 4px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}
.card > * {
	width: 100%;
}
.card .title {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.card .read-more {
	color: var(--anchor);
	text-decoration: none;
}
.card .read-more:hover {
	text-decoration: underline;
}
.card .pack-icon {
	width: 2rem;
	height: 2rem;
	border-radius: 4px;
	margin-right: 10px;
}

/* skeleton elements */
.skeleton, .youtube-video, .card a.read-more.skeleton {
	background: var(--border);
	color: transparent;
}

/* Downloads */

.download-button {
	display: block;
	width: 100%;
	box-sizing: border-box;
	font-size: 1rem;
	padding: 10px 16px;
	border: 1px solid var(--border);
	background: transparent;
	transition: background 150ms;
	cursor: pointer;
	text-align: center;
	color: inherit;
	text-decoration: none;
}
.download-button:hover {
	background: var(--border);
}
.download-button + .download-button {
	margin-top: 10px;
}

/* Core datapack content */
ul li {
	margin-top: 15px;
}

/* Util */
.hidden {
	display: none;
}
.section + .section {
	margin-top: 40px;
}

/* Responsiveness */
@media screen and (max-width: 700px) {
	.cards, .layout, .profile {
		grid-template-columns: 100%;
	}
	.profile .peach-icon {
		width: 100px;
	}
	.card.large-card {
		padding: 20px;
	}
	.badge {
		box-sizing: border-box;
		border-radius: 0;
		padding: 10px;
		margin-bottom: 10px;
		width: 100%;
	}
}

@media screen and (min-width: 701px) {
	.card.large-card {
		padding: 30px;
	}
}